.chekout-steps {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
  padding: 0;
  margin: 20px 0;
}

.chekout-steps > .col {
  flex: 1;
  text-align: center;
  padding: 4px; /* Adjusted padding for more space */
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out, border-right 0.3s ease-in-out; /* Modified transition property */
  margin-right: 20px; /* Right margin for space to the right */
}

.chekout-steps > .col.active {
  background-color: #3498db;
  color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  border-right: 2px solid #fff; /* Add a white right border to active steps */
}

.chekout-steps > .col:not(.active):hover {
  background-color: #ddd;
}

.chekout-steps > .col i {
  margin-right: 8px;
  font-size: 18px;
}

@media (max-width: 980px) {
  .chekout-steps > .col {
    padding: 2px;
    margin-right: 5px;
  }

  .chekout-steps > .col i {
    font-size: 20px;
  }
}

@media (max-width: 776px) {
  .chekout-steps {
    flex-direction: column;
  }

  .chekout-steps > .col {
    flex: 1;
    margin-bottom: 10px;
  }
}
