/* For screens larger than or equal to 600px (tablet) */
.products {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
   
  /* For screens larger than or equal to 768px (tablet landscape) */
  @media only screen and (max-width: 768px) {
    .products {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  
  
  /* For screens smaller than 600px (phone) */
  @media only screen and (max-width: 599px) {
    .products {
      grid-template-columns: repeat(1, 1fr);
    }
    .main{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    } 
  }
  